.Upper-details{
    width: 100%;
    height: 250px;
    display: flex;
    margin-left: 5%;
}
.table-content{
   width: 100%;
   margin-left: 5%;
}
.table-content-header{
    width: 100%;
    height: 70px;
}
.table-content-details{
    width: 100%;
}
.accept-not-btn{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #D3D3D3;
  color: black;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  border-radius: 3px;
  margin-left: 33%;
}

.accept-orders{
  margin-bottom: 1%;
  color: black;
  font-size: 18px;
  margin-left: 80%;
  padding: 10px;
  background-color: #D3D3D3;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.order-accept{
  width: 90px;
  height: 30px;
  border: none;
  background-color: #16bb58;
  font-family: poppins-regular;
  border-radius: 3px;
  box-shadow: opx opx 8px #0cb14e;
}
.order-reject{
  width: 90px;
  height: 30px;
  border: none;
  background-color: #f14f4f;
  border-radius: 3px;
  box-shadow: opx opx 8px #f53333;
}
/*Dashboard three color button*/
.clickable-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 2%;
  margin-left: 5%;
}

.clickable-button:hover {
  border-bottom: 10px solid #D3D3D3
}


/* */

/*count order css*/
.order-card{
  width: 20%;
  height: 200px;
  background-color: #fcfbfb;
  box-shadow: 0 0 2px;
  border-radius: 20px;
  margin-top: 2%;
  /* margin-left: 10%; */
}
.order-card h2{
    font-family: poppins-regular;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 5%;
    font-weight: normal;
}
.order-card h1{
    font-family: poppins-regular;
    font-size: 20px;
    margin-top: 19%;
    text-align: center;
    margin-bottom: 5%;
    font-weight: normal;
}
/**/


/*more details popup css*/
.more-details-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  .more-details-popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 600px;
    background-color: white;
    border-radius: 15px;
    display: flex;
  }
  .more-details-popup-inner .Close-Btn{
    position: absolute;
    top: 1px;
    right: 1px;
    
  } 
 
  
  .more-details-popup-inner h2{
    position: absolute;
    top: 1px;
    right: 350px;
    font-weight: bold;
    font-size: 20px;
    font-family: poppins-regular;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
  } 
  
  .Close-Btn {
    background-color:white;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  
  
  .Close-Btn:hover {
    background-color: #dc3545;
  }
  .inner-left h3{
    text-align: center;
  }
  .inner-Right h3{
    text-align: center;
  }


  .inner-Right{
    width: 50%;
    height: 100%;
    overflow-y: auto;
   
  }
  .inner-left{
    width: 50%;
    height: 100%;
    
    
  }
  
  /* */


  /*user card css*/
  .user-card {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 8px #ddd;
    padding: 15px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    margin-top: 25%;
  }
  
  .user-name {
    font-size: 1.5rem;
    margin: 5px 0;

  }
  
  .address, .tel-no {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    font-family: poppins-regular;
  }
  .card-label{
    font-size: 1rem;
    color: #121212;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: poppins-regular;
  }
  
  /**/