.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: calc(100% - 160px);
}

.order-type {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.order-type label {
  margin-right: 10px;
  font-weight: bold;
}

.order-type select {
  padding: 5px;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.cart-items {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-info {

  display: flex;
  align-items: center;
  gap: 50px;
}

.product-image3 {
  max-width: 100px;
  height: auto;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.remove-btn {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-summary {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.btn.checkout {
  background-color: #28a745;
}

.btn.continue-shopping {
  background-color: #ffc107;
}
.checkout {
  background-color: #007bff;
  color: #fff;
  margin-top: 10px;
}

.continue-shopping {
  margin-top: 10px;
}
/* chekout */
/* Add this CSS in your Cart.css file or create a new CSS file for modal styles */



/* Add more styles for the StripeCheckout component if needed */


