/* Categories.css */
.button_con{
    display: inline;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  .selected-button {
    background-color: #2ecc71;
  }
  
  .selected-button:hover {
    background-color: #27ae60;
  }
  