.Dashboard-details {
	background-color: #fcfbfb;
	padding: 20px;
	border-radius: 15px;
	margin-top: 20px;
	width: 45%;
	height: 150px;
	margin-left: 5%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: 2%;
}
#Restaurant-Dashboard-details {
	transition: margin-left 0.5s; /* If you want a transition effect */
	padding: 20px;
}
.Dashboard-details ul {
	list-style-type: none;
	padding: 0;
}

.Dashboard-details li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 20%;
}
