/* Feed.css */


.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.feed-title {
  font-size: 24px;
  font-weight: bold;
}

.create-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #0056b3;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post-preview {
  flex: 1;
  display: flex;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.post-preview:hover {
  transform: scale(1.03);
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.post-author {
  font-size: 12px;
  color: #555;
}
.post-details{
  width: 50%;
}
.post-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.modal-content {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-author {
  font-size: 14px;
  color: #555;
}

.modal-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 6px;
}
.post-btn{
padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #D3D3D3;
  color: #fff;
  border: none;
  margin: 10px;
}



