
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.home {
  text-align: center;
}

.quantity_add{
  display: flex;

}
.close_div{
  text-align: end;
}
.modal{
  display: flex;
height: 50%;

}

h1 {
  margin: 1rem auto 4rem;
}

.product--image {
  width: 80%;
  height: 50%;
  object-fit: cover;
  border-radius: 20%;
  
}
.product--image_1{
  width: 50%;
  height: 100%;
  object-fit: cover;


}
.image_div1{
  width: 100%;
}

.details_div{
 
  height: 100%;

 
}

.vision_1 {
  width: 100%;
  text-align: center;
}

.vision_1 p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-top: 2rem;
  font-style: oblique;
}

.vision_1 h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  margin-top: 2rem;
  font-style: oblique;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
  font-family: arial;
}

.prices {
  font-size: 16px;
  font-weight: bold;
  color: #009688; /* Some nice color for prices */
}

.btn_cart {
  padding: 8px 16px;
  background-color: #009688 !important;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 5%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_cart:hover {
  background-color: #00796b;
}

.vegan_type {
  position: relative;
  font-size: 20px;
  color: #284431;
}
