
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* { 
    box-sizing: border-box;
    
}
li {
   text-decoration: none;
}
/* Basic styles for the navbar */
/* Basic styles for the navbar */
.navbar {
    background-color: #fff;
    position:relative;
    justify-content: end;
	z-index: 1;
   color: black;

  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  }
  
  .container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  /* Style for the search input field */
  .nav-links input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  /* Style for the cart icon container */
  .nav-links div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* Style for the cart icon */
  .nav-links div svg {
    font-size: 24px;
    color: #333;
    margin-right: 5px;
  }
  
  /* Style for the cart item count */
  .nav-links div sup {
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
  
  /* Style for the links (if using) */
  .nav-links li {
    margin-right: 10px;
  }
  
  /* Style for the links (if using) */
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  
  /* Style for the links (if using) */
  .nav-links a:hover {
    color: #fff;
  }
  
  